@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./variables/global";
@import "./themes/red";

body {
  font: var(--font-m);
}

.app {
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.content_wrapper {
  display: flex;
  gap: 15px;
}

.page_wrapper {
  flex: 1;
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 50px);
}
