.button {
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.themeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  border: none;
  background: var(--bg-color);

  &:hover {
    background-color: var(--hover-color);
  }
}

.ontline,
.ontlineRed {
  padding: 8px 10px;
  border-radius: 12px;
  text-transform: uppercase;
}

.ontline {
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg-color);

  &:hover {
    background-color: var(--hover-color);
    border-color: var(--primary-color);
  }
}

.ontlineRed {
  border: 1px solid var(--red-dark);
  color: var(--red-dark);
  background-color: transparent;

  &:hover {
    border-color: var(--red-light);
    color: var(--red-light);
  }
}

.secondary,
.primary {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.secondary {
  background-color: var(--secondary-color);
}

.primary {
  background-color: var(--hover-color);
}

.background {
  background-color: var(--secondary-bg-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  height: var(--font-line-m);
  width: var(--font-line-m);
  font: var(--font-m);
}

.square.size_l {
  height: var(--font-line-l);
  width: var(--font-line-l);
  font: var(--font-l);
}

.square.size_xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
  font: var(--font-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
