.sidebar {
  position: relative;
  width: var(--sidebar-width);
  background-color: var(--secondary-bg-color);
  height: calc(100vh - var(--navbar-height));
  transition: width 0.3s ease-in-out;
  border-right: 1px solid var(--border-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  gap: 20px;
  text-align: center;
  bottom: 20px;
}

.themeButton {
  display: flex;
  justify-content: center;
}

.collapseBtn {
  position: absolute;
  right: -33px;
  top: 50%;
  transform: translateY(-50%);
}

.links {
  padding-top: 20px;
}

.link {
  display: flex;
  gap: 5px;
}

.icon {
  fill: var(--primary-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    fill: var(--secondary-color);
  }
}
