.sidebar {
  position: relative;
  width: var(--sidebar-width);
  background-color: var(--secondary-bg-color);
  height: calc(100vh - var(--navbar-height));
  transition: all 0.3s ease-in-out;
  border-right: 1px solid var(--border-color);
}
.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  gap: 20px;
  text-align: center;
  bottom: 20px;
}
.themeButton {
  display: flex;
  justify-content: center;
}
