.BIG {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .userWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .title {
    margin-top: 10px;
    word-break: break-all;
  }

  .textBlock {
    max-height: 210px;
    overflow-y: hidden;
  }

  .img {
    width: 100%;
    max-height: 250px;
    margin: 10px 0;
    object-fit: cover;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .views {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.SMALL {
  display: inline-block;
  width: 250px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {
    transform: scale(1.02);

    .date {
      display: block;
    }
  }

  .imgWrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .types p {
    overflow: hidden;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .views {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .title p {
    overflow: hidden;
    width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
