.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.select {
  outline: none;
  background-color: inherit;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
}

.option {
  outline: none;
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg-color);
}

.readonly {
  opacity: 0.7;
}
