.app_red_theme {
  --bg-color: #1c0f0f;
  --secondary-bg-color: #2b1212;
  --primary-color: #fcebea;
  --secondary-color: #e57373;
  --hover-color: #3c1a1a;
  --border-color: #5c2b2b;
  --skeleton-color: #703030;
  --skeleton-shadow: #3a1a1a;
  --code-bg: #3a1a1a; 
}
