.profileCard {
  padding: 20px;
  border: 1px solid var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.editing {
  border: 1px solid var(--secondary-color);
}
